<% items.each do |item| %>
    <div class="col-4 px-0"> 
        <div class="card h-100">
            <%= image_tag item.images.first.variant(resize_to_fill: [2000, 2000]).processed, class:"card-img-top p-0" %>
            <div class="card-body">
                <p class="card-text text-success fw-bold"><span><%= item.price %>$</span></p>
                <%= link_to("show", item_path(item), {class: "btn btn-primary stretched-link"}) %>
            </div>
        </div>
    </div>
<% end %>