@import "bootstrap";

body{
    padding-top: 60px
}

.header{
    background-color: #D9D9D9;
    font-family: Inter;
    color:black;
}

.product-price{
    padding:15px  0;
}

.title-detail{
    padding:15px 0;
}

.add-to-cart{
    padding:15px 0;
}

.View-All-button{
    float:right;
  }

.product-price-index{
   font-size: 18px;
   font-weight: bold;
}


.side-navbar-sub-title
{
    color:#909090;
}

.header-title{
    font-weight:bold;
}

.autoplay img{
    margin:10px;/*画像の周りに余白*/
    width:95%;/*横幅に制限*/
    border:0.5px solid #eee;/*周囲に薄いボーダー*/
}


.slick-prev:before,
.slick-next:before
{
    color: #909090 !important;
}

#wrap{
    padding: 50px 0 0 0;
  }
  #slider,#thumbnail_slider{
    width: 300px;
    margin: 0 auto 10px;
  }
  .slide-item{
    img{
      width: 100%;
    }  
  }
  .thumbnail-item{
    img{
      width: 98%;
      margin: 0 auto;
    } 
  }
.slick-slider{
    padding-left: 0px !important;
  }

