<nav class="navbar bg-body-tertiary fixed-top header">
  <div class="container-fluid">
    <%= link_to("View All", root_path,class:"navbar-brand header-title") %>
    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-expanded="false" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active side-navbar-sub-title" aria-current="page">Shopping</a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Boy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Girl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Languages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How to Return</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About this site</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>